* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.event-form-main-container {
    min-height: 100vh;
    margin: 5vh auto;
    width: 60vw;
    background-color: #0F172A;
    border-radius: 1.2vh;
    padding: 3vh 2vh;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);

    h1 {
        font-size: 4.5vh;
        color: #93C5FD;
        border-bottom: 0.3vw solid #FFD60A;
        padding-bottom: 1vh;
        margin-bottom: 2vh;
    }

    .event-input {
        margin-bottom: 3vh;

        h4 {
            font-size: 3vh;
            color: #E2E8F0;
            margin-bottom: 1vh;
        }

        select, input {
            margin-top: 0.5vh;
            width: 100%;
            border: 0.2vw solid #334155;
            height: 6vh;
            font-size: 2.2vh;
            font-weight: 500;
            border-radius: 0.8vh;
            padding: 0 1vw;
            background-color: #334155;
            color: #E2E8F0;
            transition: border-color 0.3s, background-color 0.3s;

            &::placeholder {
                color: #e4e9f0;
                opacity: 0.8;
            }

            &:focus {
                // border-color: #3B82F6;
                border-color: #FFD60A;
                background-color: #273549;
                outline: none;
            }
        }

        .event-type, .event-name, .event-organizer, .registration-start-date, 
        .registration-end-date, .event-venue, .event-category, .event-start-time, .event-end-time, .event-price{
            margin-bottom: 2vw;
        }

        .event-category{
            width: 64vw;
        }

        .event-poster{
            margin-bottom: 2vw;
            
            input[type="file"] {
                display: inline-block;
                text-align: center;
                padding: 8px 12px;
                cursor: pointer;
            }
        }

        .event-occasion {
            margin-bottom: 2vw;

            h6 {
                font-size: 2.5vh;
                font-weight: 500;
                color: #60A5FA;
                margin-bottom: 1vh;
            }
        }

        .mode-of-event {
            width: 100%;
            margin-bottom: 3vw;

            h4 {
                margin-bottom: 1vw;
                color: #E2E8F0; 
            }

            .mode-buttons {
                display: flex;
                justify-content: space-evenly;

                button {
                    width: 18vw;
                    height: 8vh;
                    border-radius: 1vh;
                    font-size: 2.4vh;
                    background-color: #3B82F6;
                    color: #FFFFFF;
                    cursor: pointer;
                    border: none;
                    transition: background-color 0.3s, transform 0.2s;

                    &:hover {
                        transform: scale(1.03);
                        border: 0.5vh solid #FFD60A;
                        // border-color: #FFD60A;
                    }
                
                    &:active {
                        background-color: #2563EB;
                    }
                }
            }
        }
    }

    .submit-button {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            width: 14vw;
            margin-top: 3vh;
            margin-bottom: 3vh;
            height: 7vh;
            border-radius: 1.5vh;
            font-size: 2.8vh;
            background-color: #3B82F6;
            color: #FFFFFF;
            cursor: pointer;
            border: none;
            transition: background-color 0.3s, transform 0.2s;

            &:hover {
                transform: scale(1.03);
                border: 0.5vh solid #FFD60A;
                // border-color: #FFD60A;
            }
        
            &:active {
                background-color: #2563EB;
            }
        }
    }

    .event-description{
        // height: 50vh;
        width: 95%;
        padding-left: 3vh;
        margin: 1.5vw 0 1.5vw 0;
        color: #F8FAFC;
        // background-color: aliceblue;
    }
    
}
