body{
    background-color: #E54B4B;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-body-choice{
    display: flex;
    justify-content: center;
    align-items: center;
}

.vr{
    top: 0px;
    height: 750px;
    width: 0px;
    border: 1px solid black;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
}


.colleges-part{
    background-color: white;
    color: black;
    margin: 100px;
    height: 500px;
    width: 2000px;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
}

.participants-part{
    background-color: white;
    color: black;
    margin: 100px;
    height: 500px;
    width: 2000px;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
}

button{
    background-color: #E54B4B;
    border: none;
}

#heading{
    font-size: 40px;
    color: #E54B4B;
}

#explaination{
    font-size: 16px;
}