*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.event-form-main-container{

    min-height: 100vh;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 4vh;
    background-color: #F6F6F6;
    border-radius: 1vh;
    padding: 2vh;

    h1{
        font-size: 5vh;
        border-bottom: 0.3vw solid;
        border-color: rgb(20, 56, 107);
        color: #1C4980;
    }

    .event-input{

        margin: 2vw 0 2vw 0;
        padding-left: 5vh;

        .event-type{
            margin: 1.5vw 0 1.5vw 0;
        }

        .event-name{
            margin: 1.5vw 0 1.5vw 0;
        }

        .event-organizer{
            margin: 1.5vw 0 1.5vw 0;
        }

        .event-occasion{
            margin: 1.5vw 0 1.5vw 0;

            h6{
                font-size: 2vh;
                font-weight: 500;
                color: #3E98D5;
            }
        }

        .event-category{
            margin: 1.5vw 0 1.5vw 0;
        }

        h4{
            font-size: 3vh;
        }

        select{
            margin-top: 0.5vw;
            width: 90%;
            border-width: 0.2vw solid black;
            height: 5vh;
            font-weight: 500;
            border-radius: 0.5vh;
            padding-left: 1vw;
        }

        input{
            margin-top: 0.5vw;
            width: 90%;
            border-width: 0.2vw solid black;
            height: 4vh;
            font-weight: 500;
            border-radius: 0.5vh;
            padding: 1vw;
        }

        .mode-of-event{

            width: 90%;
            
            h4{
                margin-bottom: 0.5vw;
            }

            .mode-buttons{
                display: flex;
                justify-content: space-between;
                align-items: center;

                button{
                    width: 19vw;
                    height: 9vh;
                    border-radius: 1.5vh;
                    font-size: 2.5vh;
                    background-color: #F2F8FE;
                    cursor: pointer;
                }
            }

        }

    }

    .submit-button{
        display: flex;
        justify-content: center;
        align-items: center;

        button{
            width: 15vw;
            border: 0.2vh solid;
            margin-top: 2vh;
            margin-bottom: 3vh;
            height: 7vh;
            border-radius: 1.5vh;
            font-size: 3vh;
            background-color: #F2F8FE;
            cursor: pointer;
        }
    }

    .event-description{
        // height: 50vh;
        width: 95%;
        padding-left: 3vh;
        margin: 1.5vw 0 1.5vw 0;
        // background-color: aliceblue;
    }
}

